[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = RAJKUMAR
	email = 113426028+TECHNOFIX2022@users.noreply.github.com
